<div id="regex-results" class="results <%= @body.nil? ? 'hide' : 'shown'; %>">
  <% if @body %>
      <div class="content">
        <div class="avatar">
          <img src="http://placehold.it/50?text=Avatar" alt="avatar">
        </div>

        <div class="field">
          <div class="meta">
            <a href="#">
              <%= FFaker::Name.name %>
            </a>
            <div class="data">
              <%= Random.rand(1..5) %> min &middot; <%= "#{FFaker::AddressUS.city}, #{FFaker::AddressUS.country_code}" %>
            </div>
          </div>

          <ul>
            <% @body.each do |f| %>
                <li>
                  <i class="fa fa-phone"></i>&nbsp;
                  <a href="tel: <%= number_to_phone(f, area_code: true) %>" data-toggle="tooltip" data-placement="top" title="Call <%= number_to_phone(f, area_code: true) %>">
                    <%= number_to_phone(f, area_code: true) %>
                  </a>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>
</div>
